body {
  font-family: Arial;
  background: #fffaf3;
  color: #333;
}

header {
  background: brown;
  color: white;
  padding: 15px;
  text-align: center;
}

main {
  padding: 15,5px;
}

.about {
  margin-bottom: 20px;
}

.menu {
  margin-bottom: 20px;
}

.menu ul {
  padding-left: 0;
  list-style-type: none;
}

.menu li {
  margin: 5px 0;
}

footer {
  background: #ddd;
  text-align: center;
  padding: 10px;
  font-size: 13px;
}
